@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron.fluid-jumbotron {
        margin-top: 20px;
        background: skyblue;
    }

    thead.thead-dark {
        background: black;
        color: white;
        /* font-weight: 400 !important; */
    }
</style>
<div class="container body-content">
    <div class="jumbotron fluid-jumbotron">
        <h1>CSD 3354 - Web Applications</h1>
        <h3>Instructor: Gautam Beri</h3>
        <p class="lead">Assignment 02 by <strong>Group A</strong></p>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Start Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>C0753373</td>
                <td>Komalpreet</td>
                <td>Singh</td>
                <td>November 04, 2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>C0752265</td>
                <td>Jobanpreet</td>
                <td>Singh</td>
                <td>November 07, 2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>C0752193</td>
                <td>Kirandeep </td>
                <td>Kaur</td>
                <td>November 07, 2020</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>C0752493</td>
                <td>Gauravpreet</td>
                <td>Singh</td>
                <td>November 07, 2020</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>C0752688</td>
                <td>Rajanvir</td>
                <td>Kaur</td>
                <td>November 07, 2020</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>C0752188</td>
                <td>Gautam</td>
                <td>Arora</td>
                <td>November 07, 2020</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>C0753135</td>
                <td>Eva</td>
                <td>Eva</td>
                <td>November 07, 2020</td>
            </tr>

        </tbody>
    </table>
</div>